*{
    font-family: "Roboto", cambria;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    display: flex;
    gap: 12px;
    
}
body{
    margin: 0;
}
.header img{
    width: 350px;
    height: 250px;
    
}
button{
    text-decoration: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    text-align: center;
    padding: 10px 15px;
    max-width: 150px;
}
.header{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 8px 50px;
    margin: 0;
}
.header h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    
}
.header p, .header li{
    font-size: 18px;
    color: #E5E7EB;
}
.header h3{
    font-size: 24px;
    color: #F9FAF8;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom{
    display: flex;  
}
.header-text{
    display: flex;
    flex-direction: column;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information h2{
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
}

.information img{
    width: 100px;
    height: 100px;
}
.subsection{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.picture{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}